body { 
    padding-top: 80px; 
    height: 100%;
}

td {
    border: 1px solid #4762d1;
    width: 20px;
    height: 20px;
}

.nav-text{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #ffffff;
    margin-left: 400px;
    
}


.key {
	border: 1px solid #79d9ce;
	width: 25px;
    height: 25px;
    margin-right: 10px;
}

#navbarDropdown{
    color:#ffffff;
    margin-left:30px;
    font-size: 20px;
}

.banner-align {
  display: flex;
  align-items: center;
  justify-content: center;
/*  border:1px solid green;*/
  flex-direction: column;
    margin-top:13px;
}


.banner-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color:#0b4763;
}

.btn-space {
	margin-right: 10px;
    color:#c0392b;
    
}

/*ye hai apne jaha algo aur speed chose krte hai*/
#dd{
    background-color:#0c3d58;
}

/*ye un algo aur speed ka text color hai*/
.dropdown-menu .dropdown-item{
    color:#ced6e0;
}


#logo{
    margin-left:20px;
}




#myNavbar{
    background-color : #146fee;
}



#update {
	margin-bottom: 15px; 
	margin-top: 10px;
}

.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: #2C3A47;
	border-color: #2C3A47;
}

.none {
	transition : background-color 0.1s ease-in-out;
	background-color: white;
	border-color: #dcdde1;
}

.searching {
	transition : background-color 0.08s ease-in-out;
	background-color: #fd9644;
	border-color: #fd9644;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	background-color: #778ca3;
	border-color: #778ca3;
}

.success {
	transition : background-color 0.08s ease-in-out;
	background-color: #218c74;
	border-color: #218c74;
}

.start {
	background-color: #0be881;
	border-color: #0be881;
}

.end {
	background-color: red;
	border-color: red;
}

#bigTableContainer {
	margin-top: 30px;
    margin-bottom: 30px;
}

.custom-section {
	margin-bottom: 20px;
}


#results {
	height: 100px;
	width: 120px;
	background-color: #FD7272;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #2C3A47;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
    
}

#resultsIcon {
	margin-bottom: 3px;
	margin-top: 7px;
	font-size: 16px;
}

#duration, #length {
	padding: 3px;
}

#infoModalBtn {
	margin-left: 20px;
}

.fun-fact {
	color: darkgreen;
}

footer{
    
    background: rgb(64, 148, 226);
    color: #070201;
    text-align: center;
    
}